.facilities-section {
    padding: 1rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    text-align: center;
    border: 2px solid red;
    flex-wrap: wrap;
}

.facilities-icon-section {
    border: 2px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    height: 8em;
    display : flex; 
    justify-content: center; 
    align-items : center; 
    flex-direction: column;
    width: 8rem;
    background-color: red;
    color: white;
}

.facilities-main-icons {
    font-size: 2rem;
}


@media only screen and (max-width:900px) {
    .facilities-section {
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* .facilities-icon-section {
        max-width: 13rem;
        min-height: 15rem;
    } */
    
}