.main {
    padding: 1rem;
    background-color: blue;
    display: flex;
    justify-content: center;

}

.main-container {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 0.5rem;
}

.flat-detail {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.flat-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image {
    width: 100%;
    height: 50%;
}

@media only screen and (max-width:800px) {
    .main-container {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .flat-detail,
    .flat-img,
    .image {
        width: 100%;
    }

}