.benefit-section {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

.icon-section {
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
}

.main-icons {
    font-size: 2rem;
}

@media only screen and (max-width:900px) {
    .benefit-section {
        flex-direction: column;

    }
}