.hero-section{
    display: flex;
    
    
    justify-content: center;
}
.container{
    max-width: 70%;
    background-color: #281d8f;
    color: #ffff;
    outline: yellow solid 5px;
}

@media only screen and (max-width:900px) {
    .container{
        max-width: 80%;

    }
}