.hero-section{
    display: flex;
    
    
    justify-content: center;
}
.container{
    max-width: 70%;
    background-color: #a1898933;
}

@media only screen and (max-width:900px) {
    .container{
        max-width: 80%;

    }
}